<div class="container-header">
    <header>
        <div class="logo">
            <a href=""><img src="img/logo.png" alt=""></a>
        </div>
        <nav>
            <li><a href="#">INICIO</a></li>
            <li><a href="#vips" >VIP</a></li>
            <li><a href="#diamente">DIAMANTE</a></li>
            <li><a href="#perguntas">COMO CONECTAR</a></li>
        </nav>
        <div class="dados">
            <div class="compra">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>

            <div class="login" (click)="login()" [ngClass]="{'d-flex': entrar, 'd-none': !entrar}">
                <i class="fa-solid fa-user"></i>
                Login
            </div>

            <div class="conta" [ngClass]="{'d-flex': !entrar, 'd-none': entrar}" *ngIf="user">
                <a href="/dashboard"><img [src]="getAvatar(user.id, user.avatar)" alt=""></a>
            </div>
        </div>

    </header>

    <div class="mobile">
        <div class="nav-icons">
            <li>
                <a href="/">
                    <i class="fa-solid fa-house"></i>
                    <span>Inicio</span>
                </a>
            </li>
            <li>
                <a href="#vip">
                    <i class="fa-solid fa-ticket"></i>
                    <span>VIP</span>
                </a>
            </li>
            <li>
                <a href="#diamante">
                    <i class="fa-solid fa-diamond"></i>
                    <span>Diamante</span>
                </a>
            </li>
            <li>
                <a href="#como-conectar">
                    <i class="fa-solid fa-question"></i>
                    <span>Ajuda</span>
                </a>
            </li>
            <li>
                <a href="#carrinho">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span>Carrinho</span>
                </a>
            </li>
        </div>

        <div class="dados">
            <div class="login">
                <i class="fa-solid fa-user"></i>
                Login
            </div>
        </div>
    </div>
</div>