@import '../../../../public/variables.scss';

.container-header {

    header {
        display: flex;
        position: fixed;
        width: 100%;
        justify-content: space-around;
        gap: 3rem;
        background-image: url('/img/header.png');
        align-items: center;
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        padding: 20px 0;
        z-index: 1000;

        .logo {
            img {
                width: 100px;
                height: auto;
            }
        }

        nav {
            display: flex;
            gap: 1rem;

            li {
                a {
                    font-size: 12px;
                    color: white;
                    text-decoration: none;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: -3px;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background-color: $primary;
                        transform: scaleX(0);
                        transition: transform 500ms ease-in-out;
                      }
        
          
                      &:hover::after {
                        transform: scaleX(1);
                      }
                }
            }
        }

        .dados {
            display: flex;
            gap: 1rem;
            align-items: center;

            .compra {
                width: 50px;
                height: 30px;
                place-content: center;
                display: grid;
                border: 1px solid rgba(195, 239, 60, 1);
                border-radius: 50px;
                cursor: pointer;
                font-size: 14px;
            }

            .login {
                background-color: rgba(195, 239, 60, 1);
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 15px;
                gap: 0.5rem;
                border-radius: 100px;
                cursor: pointer;
                color: rgba(26, 26, 26, 0.89);

                i {
                    color: rgba(26, 26, 26, 0.89);
                    cursor: pointer;
                }
            }

            .conta {
                position: relative;

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
            }
        }

    }

    .mobile {
        display: none;
        box-shadow: 0px -10px 26px 4px rgba(0, 0, 0, 0.2);


        .nav-icons {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: rgba(26, 26, 26, 0.89);
            display: flex;
            justify-content: space-around;
            padding: 15px 0;

            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.5rem;
                text-decoration: none;

                span {
                    font-size: 12px;
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .container-header {

        header {
            justify-content: space-around;

            nav {
                display: none;
            }


            .dados {
                display: flex;
                gap: 1rem;

                .compra {
                    display: none;
                }

                .login {
                    background-color: rgba(195, 239, 60, 1);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 5px 15px;
                    gap: 0.5rem;
                    border-radius: 100px;
                    cursor: pointer;
                    color: rgba(26, 26, 26, 0.89);

                    i {
                        color: rgba(26, 26, 26, 0.89);
                        cursor: pointer;
                    }
                }
            }
        }

        .mobile {
            display: block;
        }
    }
}

.d-flex {
    display: block;
}

.d-none {
    display: none;
}