<div class="container-main">
    <app-header></app-header>

    <div class="first-section">
        <!-- <video src="/video/video.mp4" autoplay loop muted class="video"></video> -->

        <div class="img">
            <img src="/img/img.png" alt="">
        </div>

        <div class="content">
            COMECE A JOGAR NA <span class="break">GROOVE STREET</span>
            <div class="description">
                <span>Conecte-se agora:</span>
                <button>FAZER ALLOWLIST</button>
            </div>
            <div class="description">
                <span>Conecte na cidade:</span>
                <button>CONECTAR</button>
            </div>
        </div>
    </div>
    <div class="vip" id="vip">

    </div>
</div>