/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  color: white;
}

/* scrollbar */
body::-webkit-scrollbar {
  width: 5px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #1f202600;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #dcaf82;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
}

html,
body {
  height: 100%;
  background-color: #222728;

}
