<div class="container-dashboard">
  <div class="slidebar">
    <div class="informs">
      <div class="logo">
        <img [src]="getAvatar(user.id, user.avatar)" alt="">
      </div>
      <div class="dados">
        {{user.username}}
      </div>

      <div class="status">
        <div class="wl">
          ALLOWLIST APROVADA
        </div>
        <div class="conectar">
          Conectar
        </div>
      </div>
    </div>

    <div class="vip">
      COMPRAR VIP
    </div>

    <div class="logout" (click)="sair()">
      Sair
    </div>
  </div>


  <main>

  </main>
</div>
